/* setting basic  css*/

:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color:#000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* hack css cho cac trinh duyet */
    /* chrome - safari */
    -webkit-box-sizing: border-box;
    /* firefox */
    -moz-box-sizing: border-box;
    /* Microsoft CSS */
    -ms-box-sizing: border-box;
    /* Opera */
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem=10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12)*2);
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12)*10);
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 10)*2);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
     }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
     }
}

/* Modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 9;
    animation: growth linear 0.1s;
}

/* Button style */

.btn {
    min-width: 142px;
    height: 36px;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0 8px;
    color: var(--text-color);
    background-color: var(--white-color);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.btn--size-s {
    height: 32px;
    font-size: 13px;
    min-width: 205px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 32px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

 
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.2rem;
    color: var(--text-color);
}

.select-input__list {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 0;
    display: none;
    z-index: 1;
}

.select-input__list::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    right: 0;
    top: -10px;
}

.select-input__item {
    display: block;
    padding: 10px 14px;

}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__item-link:hover {
    color: var(--primary-color);
}

.select-input__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;

}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item + .pagination-item {
    margin-left: 16px;
}

.pagination-item__active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__active:hover .pagination-item__link {
    opacity: 0.9;
}


.pagination-item__link {
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    --height:30px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    display:block;
    border-radius: 2px;
}

.bars__header-mobile {
    display: none;
}

.navbar__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
    animation: fadeIn linear 0.2s;
}

.navbar__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 3;
    transform: translateX(100%);
    opacity: 0;
    /* transition: transform linear 0.2s,opacity linear 0.2s; sài như cái dưới */
    transition: all linear 0.2s;
}

.nav__input:checked ~ .navbar__overlay {
    display: block;
}

.nav__input:checked ~ .navbar__mobile {
    transform: translateX(0);
    opacity: 1;
}

.navbar__mobile-close {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 5px;
    right: 20px;
}

.navbar__list-mobile {
    margin-top: 32px;
}

.navbar__list-item-mobile {
    margin: 12px;
    position: relative;
    min-height: 26px;
    font-size: 1.7rem;
}

.navbar__list-item-mobile::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--text-color);
    height: 1px;
    width: 165px;
    right: -40px;
    bottom: -22%;
    transform: translateX(-42%);
}


.navbar__list-item-mobile .navbar__list-item-link {
    color: var(--text-color);
}

.navbar__notify-mobile {
    display: none;
    position: absolute;
    top: 90%;
    left: -146px;
    max-height:360px;
    max-width: 260px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    z-index: 3;
}

.navbar__list-item--has-notify:hover .navbar__notify-mobile {
    display: block;
}

.navbar__item-user-mobile {
    display: flex;
    align-items: center;
}

.navbar__user-menu-mobile {
    position: absolute;
    top: 116%;
    right: 125px;
    width: 200px;
    background-color: var(--white-color);
    border-radius: 2px;
    z-index: 3;
    display: none;
}

.navbar__item-user-mobile:hover .navbar__user-menu-mobile {
    display: block;
}

.home-filter__mobile {
    display: none;
    height: 46px;
}

.category-filter__mobile {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: var(--white-color);
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.filter__mobile-list {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    border-radius: 2px;
    width: 76%;
}

.filter__mobile-item {
    flex: 1;
    text-align: center;
    height: 46px;
    position: relative;
}

.filter__mobile-item::before {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    height: 46%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.filter__mobile-item:first-child:before {
    border: none;
}

.filter__mobile-link {
    display: block;
    line-height: 46px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}

.category-mobile__link {
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 46px;
   margin: 8px 8px 0 8px;
    cursor: pointer;

}

.sidebar__input:checked ~ .sidebar-category{
    transform: translateX(0);
    opacity: 1;
}

.sidebar__mobile-close {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 7px;
    right: 20px;
}

.sidebar-category {
    position: fixed;
    top: 12%;
    left: 0;
    bottom: 0;
    width: 198px;
    max-width: 100%;
    max-height: 70%;
    border-radius: 4px;
    background-color: var(--white-color);
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.filter__mobile-search {
    display: none;
}

.filter__mobile-search i {
    font-size: 2rem;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    color: var(--primary-color);
}

.header__search-mobile--box {
    display: none;
}

.header__search-mobile {
    position: absolute;
    flex: 1;
    top: 47px;
    right: 0;
    width: 100%;
    height: 46px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.search__input:checked ~ .header__search-mobile--box {
    display: block;
}