
.header {
    height: var(--header-height);
    background-image:linear-gradient( 0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    margin-top: 8px;
}

.navbar__list-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.navbar__item-user-img {
    width: 22px;
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, 0.2);
}

.navbar__item-user-name {
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user-menu {
    position: absolute;
    top: 110%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    z-index: 2;
    box-shadow: 0 1px 2px #e0e0e0;
    transform-origin: calc(100% - 15px) top;
    animation: navbarNotifyGrowth ease-in 0.25s;
    will-change: opacity,transform;
    display: none;
}

.navbar__user-menu::after {
    content: "";
    display: block;
    position: absolute;
    min-width: 76%;
    height: 11px;
    right: 0;
    top: -8px;
    cursor: default;
}

.navbar__user-menu::before {
    content: "";
    border-width: 13px 16px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 9px;
    top: -23px;
}

.navbar__user-item {
    padding: 12px 14px;
}

.navbar__item-user:hover .navbar__user-menu {
    display: block;
}

.navbar__user-item:last-child {
    border-top: 1px solid #e0e0e0;
}

.navbar__user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
}

.navbar__user-item:last-child:hover a {
    color: red;
}

.navbar__user-item:hover {
    background-color: #f4f4f4;
    border-radius: 2px;
    cursor: default;
}

.navbar__list-item--has-qr:hover .navbar__qr {
    display: block;
}

.navbar__list-item--has-notify:hover .navbar__notify {
    display: block;
}

.navbar__list-item,
.navbar__list-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar__list-item,
.navbar__list-item-link,
.navbar__list-icon-link {
    display: inline-flex;
    align-items: center;
}

.navbar__list-item:hover,
.navbar_icon:hover,
.navbar__list-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -10px;
    /* top: 0; */
    top:50%;
    transform: translateY(-50%);
}

.navbar__list-item--strong {
    font-weight: 400;

}

.navbar__list-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.navbar__list-icon-link:nth-child(2) {
    margin-left: 4px;
}

.navbar_icon {
    font-size: 1.8rem;
    margin: 0 5px;
}

.navbar__list-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Navbar QR code */

.navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 125%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 2;
}

.navbar__qr::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 20px;
    left: 0;
    top: -7px;
    display: block;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin-left: 10px; */
}

.navbar__qr-download-img {
    margin: 5px 1px 0 10px;
    height: 16px;
}

/* Header notification */
.navbar__notify {
    position: absolute;
    top: 110%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 15px) top;
    animation: navbarNotifyGrowth ease-in 0.25s;
    will-change: opacity,transform;
    display: none;
    z-index: 2;
}

.navbar__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
}

.navbar__notify::before {
    content: "";
    border-width:20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 2px;
    top: -30px;
}

@keyframes navbarNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0); /*phóng to thu nhỏ*/
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.notify-header h3 {
    color: #999;
    line-height: 40px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 1.4rem;  
    user-select: none;
}

.notify__list-item {
    width: 100%;
}

.notify__list-item:hover {
    background-color: #f7f7f7;
}

.notify__list-item--viewd {
    background-color: rgba(238, 75, 43, 0.08);
}

.notify__list-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    
}

.notify__list-img {
    width: 48px;
    object-fit: contain; /* bằng với thuộc tính background-size*/
}

.notify-info {
    margin-left: 12px;
}

.notify-name {
    display: block;
    margin-top: 2px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2rem;
}

.notify-descrition {
    display: block;
    margin-top: 6px;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.4rem;
}

.notify__footer-btn {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: block;
}

/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 6px;
    overflow: hidden;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 48px ;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form_input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    padding: 12px 38px;
    background-color: #f0e7e7;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials-facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: #7c716f;
}

.auth-form__socials-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.9;
}

.auth-form__help-link.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 24px;
    margin: 0 12px;

}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    min-width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    cursor: pointer;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    border: none;
    padding: 0 12px;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
}

.header__cart {
    min-width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position:relative;
    display: inline-block;
    padding: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.2rem;
    cursor: pointer;
    margin-top: 8px;
}

.header__cart-list {
    position: absolute;
    top: 106%;
    right: -2px;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0  rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 15px) top;
    animation: navbarNotifyGrowth ease-in 0.25s;
    will-change: opacity,transform;
    cursor: default !important;
    display: none;
    z-index: 2;
}

/* Cart item */

.header__cart-heading {
    text-align: left;
    margin: 16px 12px;
    font-size: 1.4rem;
    color: #888;
    font-weight: 400;
    cursor: text;
}

.header__cart-list-item {
    /* padding-left: 0; */
    list-style: none;
    height: 25vh; /* 70% chieu cao trinh duyet */
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    height: 100%;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    cursor: text;
    padding-right: 10px;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    text-align: left;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1.1rem;
    padding: 0px 2px;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 12px;
}

.header__cart-item-dpn {
    font-size: 1.2rem;
    color: #555;
    cursor: text;
    line-height: 1.4rem;
    padding-right: 10px;
}

.header__cart-item-price-wrap {
    cursor: text;
}

.header__cart-item-remove {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-list-a {
    height: 36px;
    margin: 8px;

}

.header__cart-list-btn a {
    float: right;
    margin: 8px 12px;
    font-size: 1.6rem;
    min-width: 130px;
}

.header__cart-list-btn a:hover {
    opacity: 0.85;
}


.header__cart-list::after {
    content: "";
    position: absolute;
    top: -29px;
    right: 0;
    border-width: 18px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart--no-cart-text {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 24px 0;
}

.header__cart--no-cart-text {
    font-size: 1.4rem;
    text-align: center;
    display: none;
    margin-top: 12px;
    font-weight: 300;
}

.header__cart--no-cart-img {
    width: 55%;
    display: none;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 6px;
    top: 0;
    right: -10px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    height: 58%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: #888;
    margin: 0 18px 0 12px;
}

.header__search-btn {
    height: 34px;
    min-width: 60px;
    border: none;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.header__search-btn:hover {
    background: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 134px;
    margin-top: 12px;
    box-shadow: 0 1px 3px #dad7d7;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.15s;
    z-index: 1;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -14px;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding:14px 18px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */

.header__search-history {
    position: absolute;
    top: 107%;
    left: 0;
    width: 97%;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #888;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    font-size: 1.5rem;
    padding: 12px;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    text-decoration: none;
}

.header__search-history-item {
    height: 37px;
    line-height: 37px;
    padding-left: 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* App container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    padding: 12px 20px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
}

.category-list {
    margin-top: 4px;
}

.category-item {
    padding: 10px 24px;
    position: relative;
}

.category-item::after {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute; /* lam border trên hoặc dưới kiểu chữ */
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item:first-child::after {
    display: none;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    /*transition: right linear 0.1s ; hover làm chuyển động và lệch sang phil */
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Home shop */

.home-filter {
    display: flex;
    background-color: rgba(0, 0, 0, 0.03);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;

}

.home-filter__label {
    font-size: 1.4rem;
    font-weight: 400;
    color: #555;
    margin-right: 16px;
    line-height: 1.7rem;
}

.btn-filter {
    height: 32px;
    min-width: 90px;
    margin-right: 12px;
    line-height: 3.2rem;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-btn {
    text-decoration: none;
    width: 36px;
    text-align: center;
    padding: 11px;
    display: inline-block;
    background-color: var(--white-color);
    margin: -1px;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .select-input__icon {
    color: #ccc;
}

.select-input__icon {
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__page-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.home-filter__page-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


/* Product item */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    /*  0 = x(ko di chuyển chiều ngang)   
        2px border radius: độ mờ = nhòe
    */
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding: 50%;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--text-color);
    margin: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}

.home-product-item__price {
    padding: 6px 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    line-height: 1.8rem;

}

.home-product-item__price-old {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 6px 10px;
}

.home-product-item__like {
    font-size: 1.4rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like-icon-fill {
    display: none;
    color: var(--primary-color);
}

.home-product-item__rating {
    font-size: 0.8rem;
    /* transform: scale(...); transform-origin: right phong to thu nho lai kich thuoc */
    color: #ccc;
    margin-left: auto;
    position: relative;
    top: -1px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.home-product-item__star-gold  {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
    color: var(--text-color);
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    line-height: 1.8rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);

}

.home-product-item__favourite i {
    font-size: 1rem;
    margin: 0 2px 0 4px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    font-size: 1.3rem;
    color: var(--white-color);
}

/* prods aaaa */
.home-product-item__sale-off  {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(255, 216, 64, 0.94);
    width: 40px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 1px 20px 5px;
    border-style: solid;
    border-color:transparent rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    display: block;
    margin-top: 2px;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--primary-color);
}

.home-product-item__sale-off-label {
    display: block;
    font-size: 1.3rem;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 48px 0 32px;
}

/* Footer */

.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__content {
    padding: 32px 0;
}

.footer__heading {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 20px 0;
    font-weight:700;
    color: rgba(0, 0, 0, 0.65);
}

.footer-list {
    margin-top: 4px;
}

.footer-list__item-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.4rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer-list__item-link:hover {
    color: var(--primary-color);
}

.footer-list__item-link i {
    font-size: 2rem;
    margin-right: 10px;
}

.footer-link__item {
    margin-top: 4px;
}

.footer-link__item-web {
    display: flex;
}

.footer-link__qr-img {
    width: 38%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 4px;
    margin-right: 15px;
}

.footer-link__qr-download {
    margin-top: 7px;
    width: 68%;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding-top: 20px;
}

.footer__navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:  32px 0;
}

.footer__navbar-list {
    padding: 0 24px;
    height: 15px;
    line-height: 15px;
} 

.footer__navbar-list + .footer__navbar-list {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.footer__navbar-list--item {
    color: rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
    font-size: 1.3rem;
    text-decoration: none;
}